<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wypozyczalnia</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body class="bg-light">

<div th:insert="header :: nav"></div>
<div th:insert="alerts :: div"></div>

<div class ="container justify-content-between">
    <div class="d-flex mb-5 align-items-center justify-content-between">
        <div class = "">
            <h1>Asortyment</h1>
            <span>Poniżej możesz zarządzać całym dodanym asortymentem.</span>
        </div>
        <div class = "">
            <a th:href = "@{/items/new}" class = "btn btn-success mb-3">+ Dodaj asortyment</a>
        </div>
    </div>
    <form th:action="@{/items}" th:object = "${item}" method="GET">
        <div class="row mb-2 justify-content-between">
            <div class="col-8">
                <!--miejsce na filtry-->
            </div>

            <div class="col-3 d-flex">
                <input
                        type = "search"
                        name = "q"
                        class = "form-control mr-1"
                        placeholder=""
                        th:value="${param.q}"
                />
                <button type="submit" class = "btn btn-sm btn-primary">
                    Szukaj
                </button>
            </div>
        </div>

    </form>

    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Indeks</th>
            <th> nazwa</th>
            <th> Cena [1h] </th>
            <th> Akcja </th>
        </tr>
        </thead>
        <tbody>
            <tr th:each = "item: ${items}">
                <td th:text = "${item.indeks}"></td>
                <td th:text = "${item.name}"></td>
                <td th:text = "${item.hourPrice}"></td>
                <td>
                    <a th:href = "@{/items/edit/{id}(id=${item.id})}"
                       class = "btn btn-sm btn-primary">Edycja</a>

                    <a th:href = "@{/items/{id}(id=${item.id})}"
                       class = "btn btn-sm btn-danger">Usun</a>
                </td>
            </tr>
            <tr th:if="${#lists.size(items) == 0}" >
                <td colspan="8" class="text-center font-italic">- Brak asortymentu do wyświetlenia, zmień filtry lub dodaj nowy asortyment -</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>